/* CSS Reference from W3School: https://www.w3schools.com/cssref/ */

/* Example Variables */
:root {
	/* Fonts */
	--main-font-primary: "Ariel", sans-serif;
	--main-font-secondary: "Roboto", sans-serif;
	--main-font-tertiary: "Comfortaa", cursive;
	/* Colors */
	--main-color-gray: #485359;
	--main-color-white: #e9f0f2;
	--main-color-black: #0d0d0d;
	--main-color-light: #5ef2ad;
	--main-color-dark: #45735d;
	--main-color-light2: #f38888;
	--main-color-dark2: #d27575;
	--main-color-light3: #a0d3f2;
	--main-color-dark3: #769bb3;
    
    --box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

body {
    background-color: aqua;
    display: grid;
    grid-template-columns: 5rem 1fr 5rem;
    grid-template-rows: auto auto 100px;
    grid-template-areas: "header header header"
        ". main ."
        "footer footer footer";
}

header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header span a {
    display: block;
    padding: .5rem 1rem;
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
    color: var(--main-color-black);
}

header nav a {
    font-style: italic;
    color: var(--main-color-black);
}

header nav ul {
    display: flex;
    width: auto;
    margin-bottom: 0;
}

header nav ul li {
    display: block;
    padding: .5rem 1rem;
    width: auto;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    padding: .5rem 1rem;
}

/* Example Syntax */
section, #flex-guy div {
	height: auto;
    padding: 1rem;
	background-color: azure;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    margin-bottom: 1rem;
}

#fixed {
    display: block;
    bottom: 125px;
    right: 50px;
    position: fixed;
    background-color: aquamarine;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}

#fixed:hover {
    background-color: deeppink;
    color: white;
    animation-name: moveDat;
    animation-duration: 1s;
}

@keyframes moveDat {
  from {
      background-color: deeppink;
      right: 50px;
    }
  to {
      background-color: blue;
      right: 100px;7
    }
}

#flex-guy {
    display: flex;
}

#flex-guy div {
    width: 100%;
    border: 1px solid lime;
}

#flex-guy div:first-child {
    align-self: start;
    margin-right: 1rem;
}

#flex-guy div:last-child {
    align-self: end;
    margin-left: 1rem;
}

.fa-solid {
    color: hotpink;
    font-size: 100px;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 750px) {
    
    #flex-guy {
        display: block;
    }
    
    #flex-guy div:last-child {
        margin-left: 0;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
